body {
    padding: 10px;
}

.active-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.item-details {
    display: flex;
    flex-shrink: inherit;
    justify-content: center;
    align-items: center;
}

.comment-button {c
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.btn {
    min-width: 200px;
}
.user-comments {
    display: flex;
    flex-shrink: inherit;
    flex-direction: column;
}

.card {
    margin: 10px 50px 50px 10px;
}

#card-item {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: inherit;

}

.active-items {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bid-button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}