{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <section>
        {% for item in items %}
        <!-- <a href="{{ item }}" -->
        <div class="card" style="width: 18rem;">
            <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <a href="#" class="btn btn-primary">{{ item.price }}</a>
            </div>
        </div>
        {% endfor %}
    </section>
    
{% endblock %}