{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

    <section class="item-details">
        <form action="{% url 'item' item.id %}" method="post">
            <div class="card" id="card-item" style="width: 50rem;">
                <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
                <div class="card-body">
                    <h3 class="card-title">{{ item.title }}</h3>
                    {% if not owner %}
                        <h5 class="card-price">Price: ${{ item.price|floatformat:2 }}</h5>
                    {% endif %}

                    <p class="card-text">{{ item.description }}</p>
                    {% if owner %}
                        {% csrf_token %}
                        <input id="titlearea" type="text" name="title" value="${{ item.price }}" readonly>
                        <div class="bid-button">
                            <button class="btn btn-outline-secondary" type="submit">Close Bidding</button>
                        </div>
                    {% else %}
                        {% csrf_token %}
                        {{ bidding_form }}
                    <div class="bid-button">
                        <button class="btn btn-outline-secondary" type="submit">Bid</button>
                        {% if not watchlist %}
                            <a href="{% url 'add_watchlist' item.pk %}"><button type="button" class="btn btn-success">Add to Watchlist</button></a>
                        {% else %}
                            <a href="{% url 'remove_watchlist' item.pk %}"><button type="button" class="btn btn-danger">Remove from Watchlist</button></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </section>
    

    <hr>
    {% if not comments %}
        <h4>You are the first one to comment in this item.</h4>
        <form action="{% url 'item' item.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <div class="comment-button">
                <button class="btn btn-outline-secondary" type="button">Comment</button>
            </div>
        </form>
    {% else %}
        <section class="user-comments">
            {% for comment in comments %}
                <div class="card">
                    <div class="card-header">{{ comment.date_commented }}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.commenter }}</h5>
                        <p class="card-text">{{ comment.comment }}</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            {% endfor %}
        </section>
        <hr>
        <form action="{% url 'comment' item.id %}" method="post">
            {% csrf_token %}
            {{ comment_form }}
            <div class="comment-button">
                <button class="btn btn-outline-secondary" type="submit">Comment</button>
            </div>
        </form>
    {% endif %}

{% endblock %}