{% extends "auctions/layout.html" %}


{% block body %}
<h2>Owned items</h2>
    <section class="active-items">
        {% if items %}
            {% for item in items %}
                {% if item.is_active == True %}

                    <a href="{% url 'item' item.pk %}">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                            <div class="card-button">
                                {% if item.is_active == False %}
                                    <a href="{% url 'item' item.id %}" class="btn btn-primary">You won the item</a>
                                {% else %}
                                    <a href="{% url 'item' item.id %}" class="btn btn-primary">${{ item.price }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
                No items yet.
        {% endif %}
    </section>

    <hr>
    <h2>Won items</h2>
    <section class="active-items">
        {% if items %}
            {% for item in items %}
                {% if item.is_active == False %}

                    <a href="{% url 'item' item.pk %}">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.title }}</h5>
                                <p class="card-text">{{ item.description }}</p>
                            </div>
                            <div class="card-button">
                                {% if item.is_active == False %}
                                    <a href="{% url 'item' item.id %}" class="btn btn-primary">You won the item</a>
                                {% else %}
                                    <a href="{% url 'item' item.id %}" class="btn btn-primary">${{ item.price }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %}
                No items yet.
        {% endif %}
    </section>

{% endblock %}