{% extends "auctions/layout.html" %}

{% block body %}
    <section class="active-items">
        {% for item in items %}
            <a href="{% url 'item' item.pk %}">
                <div class="card" style="width: 18rem;">
                    <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.title }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ item.title }}, {{ item.pk }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{% url 'item' item.id %}" class="btn btn-primary">${{ item.price }}</a>
                    </div>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock %}